body {
  background-color: #f4f4f4;
  font-family: 'Arial', sans-serif;
}

.App-header {
  text-align: center;
  margin: 20px 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.registro-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: auto; 
}

.social-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-button {
  margin: 0 5px;
}

.social-button button {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.social-button button:hover {
  background-color: #f0f0f0;
}
